.videoWrapper {
    display: flex;
    position: relative;
    background: url("../../assets/trying_to_—Åonceive.gif");
    border-bottom-left-radius: 90%;
    border-bottom-right-radius: 90%;
    align-items: end;
    justify-content: center;
    min-height: 25%;
    background-size: cover;
}

.img {
    position: absolute;
    border-radius: 1.25rem;
    background-color: #FFFFFF;
    height: 5rem;
    width: 5rem;
    bottom: -15%;
    background-image: url("../../assets/logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0.1875rem 0.1875rem 0.1875rem #222B4126;
}

.skip {
    position: absolute;
    color: #FFFFFF;
    font-size: 0.875rem;
    line-height: 1.125rem;
    top: 10%;
    right: 10%;
    border: none;
    background: transparent;
}